<footer class="footer" style="color: #AEC3B0; font-size: large;">
    <div class="container">
      <div class="row">
        <!-- Left Side: Logo and Address -->
        <div class="col-md-6">
          <img src="assets/img/Logo.png" alt="Logo" class="logo" width="100px">
          <p>Yamuna Constructions</p>
        </div>
        <div class="col-md-6">
          <h4 style="color: #EFF6E0; font-weight: normal; font-size: large;">Address</h4>
          <p>Sahakar Nagar, Shastri Nagar Jawal <br> Wahegaon Road, Pimpalgaon Najik Lasalgaon</p>
        </div>
        
        <!-- Right Side: Contact Information -->
        <div class="col-md-6">
          <div class="contact-info">
            <p>AWC LEGAL LINE CONSULTANCY</p>
            <p>Consultant: Ajay Chandwadkar: 9011037055 / 8380825629</p>
            <p>Ar. Shamli Salunke | Er. Amol Borse | Structural Er. Amit Dholu</p>
            <p>Site Er. Aditya Pravin Holkar: 9130266641</p>
          </div>
        </div>
      </div>
      
      <!-- Line -->
      <hr class="footer-line">
      
      <!-- Copyright Line -->
      <p class="copyright">© 2024 Your Company. All rights reserved.</p>
    </div>
  </footer>
  