<section class="project">
    <div class="project_name">
        <h3>Yamuna Pride Row-Bunglow</h3>
        <h4>Wing B</h4>
    </div>       
    
    <div herf="#" class="top">
        <img src="assets/img/Frontside.jpg" alt="">
        <h3>RERA NO. : P51600046854</h3>
    </div>
    <div class="project-info">
        <div class="head">
            <h2>Apartments</h2>
            <h3>overlooking the park.</h3>
        </div>
        <div class="content">
            <p>Yamuna Constructions Company's project, Yamuna Pride (Wing-B), stands as a testament to their commitment to excellence in housing solutions. Offering duplex houses with an impressive 1100 sq. ft. area, this project redefines modern living. From its meticulously designed layout to its attention to detail in construction, Yamuna Pride (Wing-B) exudes elegance and functionality.</p>
            <p>Each duplex unit within Yamuna Pride (Wing-B) reflects a harmonious blend of contemporary design and practicality. With spacious interiors spanning across two levels, residents are greeted with a sense of openness and comfort. The thoughtful utilization of space ensures that every corner serves a purpose, whether it's for relaxation, entertainment, or family gatherings. Moreover, the project's strategic location adds another layer of allure, promising convenience and connectivity to essential amenities. In essence, Yamuna Pride (Wing-B) sets a new standard for duplex living, where luxury meets functionality in perfect harmony.</p>
        </div>
    </div>
</section>
    
<section class="amenities">
    <div class="amenities-header">
        <h2>AMENITIES</h2>
    </div>
   <div class="amenities-section">
    <ul>
        <li><img src="assets/img/parked-car.png" alt="">  Seperate Parking</li>
        <li><img src="assets/img/drop.png" alt=""> Water Availability by Natural Resource</li>
        <li><img src="assets/img/fragrance-garden.svg" alt=""> Garden in Colony</li>
        <li><img src="assets/img/road.png" alt=""> 3m Road Pathway</li>
        <li><img src="assets/img/charging-station.png" alt=""> Electric Vehicle Charging Point</li>

    </ul>
   </div>
</section>

<section class="floor-plans">
    <div class="floor-header">
        <h2>Floor Plans</h2>
    </div>
    <section class="floor-section">
        <div class="floor-plan">
            <h3>Ground Floor</h3>
            <img src="assets/img/GF Plan.jpg" alt="Ground Floor Plan">
            <a href="assets/img/GF Plan.jpg" download="Gf Plan.jpg" class="download-button">Download</a>
        </div>
        <div class="floor-plan">
            <h3>First Floor</h3>
            <img src="assets/img/FF Plan.jpg" alt="First Floor Plan">
            <a href="assets/img/FF Plan.jpg" download="FF_Plan.jpg" class="download-button">Download</a>
        </div>
    </section>
</section>